:root{
    --primary:#47185c;
    --primary-dark:#14001d;

}




*{
    margin: 0;
    padding: 0;


}
body{
    background-color:var(--primary);
    font-size: 1.6rem;
}

.contenar{
    display: grid;
    place-items: center;
    height: 100vh;
}
.box{
    /* height: 400px; */
    padding: 20px;
    width: 500px;
    background-color: white;

}

.upper{
display: flex;
flex-direction: column;
align-items: center; 

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10px ;
    padding: 10px 10px 10px;
    gap: 20px;


}

h1{
    font-size: 32px;
    font-weight: 400px;
    /* line-height: px; */
}

form input{
    width: 100%;
    height: 40px; 
    padding: 10px 15px;

}


form input:focus-visible{
    border:  1px solid var(--primary);
    outline:  1px solid var(--primary);
}
form button{
    width: 100%;
    height: 40px; 
    padding: 10px 15px;
    background-color: var(--primary);
    color: white;
    border: none;
    opacity: 0.9 ;
    transition: 0.3s ease-in;

}

 form button:hover{
    opacity: 1;
    transition: 0.3s ease-in;
}

form button:active{
    background-color: var(--primary-dark);
}

.qr-container{
border:  1px solid var(--primary);
display: flex;
align-items: center;
justify-content: center;
display: none;
}

.qr-container.show{
    display: flex;
}

.qr-container img{
    height: auto;
    width: auto;
}